.panda-bg-color{
    background-color: #fceae8;
}
.top-margin{
    margin-top: 140px;
}
.margin-top{
    margin-top:100px;
}
.catagories img{
    width:100px;
}
.panda-btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff136f 100%);
    border: none;
    border-radius: 8px;
    padding:8px 25px;
    color:white;
}
.fa-greater-than{
    font-size: 10px;
    margin-left: 5px;
}